@{
    ViewData["Title"] = @Model.PageTitle;
}
@model MyVideoGames.WebUI.Models.HomeViewModel

<div class="text-center">
    <h1 class="display-4">@Model.WelcomeMessage</h1>
    <p>@Model.DateToday</p>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

</div>