
@model MyVideoGames.WebUI.Models.GameListViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <title>Mes jeux</title>
</head>
<body>
<div>
    <h1>Bienvenue sur la page des jeux!</h1>

</div>
<div class="container">
    <h1>Liste des Jeux</h1>
    <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <partial name="_GameList" model="@Model.Games" />
                    </div>
                </div>
            </div>
    </div>
</div>
</body>
</html>